@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, bumblebee;
}

/* Make sure the page can actually take up full height */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0.2rem;
}

.card {
  padding: 0.7em;
  }
