@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, bumblebee;
}


/* Make sure the page can actually take up full height */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.card {
  padding: 0.7em;
  font-family: 'Raleway', sans-serif;
  
  }